<div class="container-fluid">
  <div class="box">
    <!-- Navbar -->
    <nav class="nav">
      <a (click)="switchTab('Dashboard')" [class.active]="active === 'Dashboard'">Dashboard</a>
      <a *ngFor="let pattern of patterns"
         (click)="switchTab(pattern.title)"
         [class.active]="active === pattern.title">{{ pattern.title }}</a>
    </nav>

    <!-- Toolbar -->
    <div class="row">
      <div class="col-sm-12">
            <p *ngIf="active !== 'Dashboard'">{{activePattern.title}} pattern: {{activePattern.pattern}}</p>
            <label for="interval-select">Set interval</label>
            <select (change)="setDisplayInterval()" [(ngModel)]="displayInterval" title="interval" id="interval-select">
              <option disabled selected [value]="'default'">Set interval</option>
              <option [value]="'day'">Day</option>
              <option [value]="'week'">Week</option>
              <option [value]="'month'">Month</option>
              <option [value]="'year'">Year</option>
              <option [value]="'all'" *ngIf="active !== 'Dashboard'">All</option>
            </select>
      </div>

    </div>

    <!-- Add graph form-->
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4" *ngIf="active == 'Dashboard'">
        <div class="card">
          <div class="card-header">
            <h4 class="center-text">Add graph</h4>
          </div>
          <div class="card-content">
            <label for="add-cat">Category</label>
            <select title="category" #c id="add-cat" (change)="getFormLinks(c.value)">
              <option disabled selected>Select</option>
              <option *ngFor="let pattern of patterns" value="{{pattern.title}}">{{pattern.title}}</option>
            </select>
            <input *ngIf="localLinks.length != 0"  type="text" [(ngModel)]="searchText" placeholder="Search graphs">
            <select *ngIf="localLinks.length != 0" title="graphLink" id="add-link">
              <option *ngFor="let link of localLinks | filter: searchText" value="link">{{link}}</option>
            </select>
            <p *ngIf="localLinks.length == 0 && localLinksLoaded">No graphs in selected category.</p>
            <p *ngIf="!localLinksLoaded">Loading..</p>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <label for="checkDay">Day</label>
                <input type="checkbox" [(ngModel)]="checkDay" id="checkDay">
              </div>
              <div class="col-sm-12 col-md-3">
                <label for="checkWeek">Week</label>
                <input type="checkbox" [(ngModel)]="checkWeek" id="checkWeek">
              </div>
              <div class="col-sm-12 col-md-3">
                <label for="checkMonth">Month</label>
                <input type="checkbox" [(ngModel)]="checkMonth" id="checkMonth">
              </div>
              <div class="col-sm-12 col-md-3">
                <label for="checkYear">Year</label>
                <input type="checkbox" [(ngModel)]="checkYear" id="checkYear">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Info message -->
    <div class="row">
      <div class="col-sm-12" >
        <div class="d-flex justify-content-center">
          <h2 *ngIf="isImageLoading">Loading...</h2>
          <h2 *ngIf="graphLinks.length == 0 && !isImageLoading">Nothing found</h2>
        </div>
      </div>
    </div>

    <!-- Graphs -->
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let image of imagesToShow | slice:start:start+max">
        <img [src]="image"
             alt="Loading..."
             class="img-responsive"
             *ngIf="!isImageLoading; else noImageFound">
        <ng-template #noImageFound>
          <p class="lrg-form-error">Graph failed to load</p>
        </ng-template>
      </div>
    </div>

    <!-- "Load more" button -->
    <div class="row">
      <div class="col-sm-12" *ngIf="start+max < graphLinks.length">
        <div class="d-flex justify-content-center">
          <button (click)="loadMore()" class="btn btn-primary">Load more</button>
        </div>
      </div>
    </div>

  </div> <!-- .box -->
</div> <!-- .container-fluid -->
