@import 'colors';
.box {
  padding: 0;
}
.nav {
  border-radius: 5px;
  padding: 10px 15px;
  background: $colorMain;
}
.nav a {
  margin: 5px 10px;
  color: transparentize($colorTextInverse, 0.3);
  text-decoration: none;
  transition: color .25s ease-in-out;
  cursor: pointer;
  &:hover {
    color: transparentize($colorTextInverse, 0.1);
  }
}
.nav .active {
  color: $colorTextInverse;
}
.img-responsive {
  max-width: 100%;
}
.graph {
  border: 3px solid transparent;
  transition: all 100ms ease-in-out;
}
.center-text {
  text-align: center;
}

.card {
  position: relative;
  height: 100%;
  text-align: center;
  padding: 0;
}
.card-content {
  padding: 20px;
}
.card-header {
  background: $colorMain;
  padding-bottom: 0;
  h4 {
    color: $colorTextInverse;
  }
}

.delete-icon {
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 15px;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 20px);
}
.selected {
  border: 3px solid $colorSelected2;
  border-radius: 5px;
}
